# Data Acquisition and Understanding

Once the APIs are built and the raw data is available its the job of data engineer to perform the data acquisition and to provide the data further to data scientist for further exploitation tasks.

Data engineers basically work on principles of ETL, i.e., ```Extract Transform and Load```. Although it could be ELT as well. The order is not really important for us now (at this level)

Difference between ETL and ELT can be found [here](https://www.oracle.com/fr/database/elt-vs-etl.html)

In [ ]:
# Lets start by importing the libraries 
import os
import glob
import pandas as pd # library for data wrangling

In [ ]:
ls

acquistion_folder/  drive/  sample_data/

We'll do here is to ```Extract``` the data coming from different sources (csv and json) of file

In [ ]:
# the path to our data files
#path = "/content/drive/MyDrive/Colab_Notebooks/orness/acquisition_data/"
path = "acquistion_folder/"
#path_git = 'https://github.com/architjen/Orness_DS_training/tree/main/acquisition_data'

In [ ]:
# Listing all the csv files
for csvfile in glob.glob(path+"*.csv"):
  print(csvfile)

acquistion_folder/winequality_1.csv
acquistion_folder/winequality_2.csv
acquistion_folder/winequality_3.csv

In [ ]:
# listing json file
for jsonfile in glob.glob(path+"*.json"):
  print(jsonfile)

acquistion_folder/winequality_4.json

In [ ]:
# Looping throught the files, turning them into a DataFrame and appending it to a list
df_list = []
for csvfile in glob.glob(path+"*.csv"):
  df_tmp = pd.read_csv(csvfile) # 
  df_list.append(df_tmp)
  
# Finally concatinating all the dataframes   
df_csv = pd.concat(df_list)

In [ ]:
df_csv.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
# function you could apply on the dataframe 
df_csv.__dir__()

In [ ]:
# iterating the feature
for i in df_csv['fixed_acidity']:
  print(i)

---------Looking at the pandas DataFrame for a brief moment -------

pd.DataFrame.iloc  
pd.DataFrame['col']  
pd.DataFrame[index]  
pd.DataFrame.shape  
pd.DataFrame.dtypes  

Follow the rich doc of pandas [here](https://pandas.pydata.org/docs/user_guide/index.html)

In [ ]:
df_csv.head(10)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [ ]:
df_json = pd.read_json(path+'winequality_4.json', orient ='records', lines=True)

In [ ]:
df_json.head(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,TARGET
0,7.5,0.725,0.04,1.5,0.076,8,15,0.99508,3.26,0.53,9.6,5
1,7.8,0.820,0.29,4.3,0.083,21,64,0.99642,3.16,0.53,9.4,5
2,7.3,0.585,0.18,2.4,0.078,15,60,0.99638,3.31,0.54,9.8,5
3,6.2,0.440,0.39,2.5,0.077,6,14,0.99555,3.51,0.69,11.0,6
4,7.5,0.380,0.57,2.3,0.106,5,12,0.99605,3.36,0.55,11.4,6

In [ ]:
df_json['pH'].iloc[3]

3.51

In [ ]:
df_csv.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                  object
TARGET                    int64
dtype: object

In [ ]:
df_json.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide       int64
total_sulfur_dioxide      int64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
TARGET                    int64
dtype: object

# Data Cleaning

Why cleaning the dataframes seems to be a such a crutial part?  

Python is (luckily) not a statically typed language. That is why we can develop so fast. The drawback of a dynamically typed language is that we may run into more problems during runtime than we would using a strict static typing scheme. Python will at least throw an error during runtime

Hence we need to typecast the data before the processing or analysis.

Advance data cleaning technique could involve: Data Validation (using pydantic and pandas), creating generators list (for infinite sequences of dataflow)

```Transform``` into the same data type

In [ ]:
# trying to convert each entry to float 
df_csv['alcohol'] = df_csv['alcohol'].astype(float)

In [ ]:
int('2 %'.replace('%', ''))

2

In [ ]:
# printing the str values 
for i,j in enumerate(df_csv['alcohol']):
  try:
    df_csv['alcohol'].iloc[i] = float(j)
  except:
    df_csv['alcohol'].iloc[i] = float(j.replace('%', ''))

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
dfsdfdsf

In [ ]:
df_csv['alcohol'] = df_csv['alcohol'].apply(lambda x: str(x).replace('%', ''))
df_csv['alcohol'] = df_csv['alcohol'].astype(float)

In [ ]:
df_csv.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
TARGET                    int64
dtype: object

In [ ]:
# checking the null values in the dataframe
df_csv.isnull().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
TARGET                  0
dtype: int64

In [ ]:
df_csv.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,11.6,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,11.6,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,11.6,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,11.6,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,11.6,5

In [ ]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1500 non-null   float64
 1   volatile_acidity      1500 non-null   float64
 2   citric_acid           1500 non-null   float64
 3   residual_sugar        1500 non-null   float64
 4   chlorides             1500 non-null   float64
 5   free_sulfur_dioxide   1500 non-null   float64
 6   total_sulfur_dioxide  1500 non-null   float64
 7   density               1500 non-null   float64
 8   pH                    1500 non-null   float64
 9   sulphates             1500 non-null   float64
 10  alcohol               1500 non-null   float64
 11  TARGET                1500 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 152.3 KB

For the other json file we will parse it using the pydantic library.  
[Pydantic](https://docs.pydantic.dev/usage/validators/) enforces type hints at runtime, and provides user friendly errors when data is invalid.

In [ ]:
from pydantic import ValidationError, Field, BaseModel

In [ ]:
class DataValidation(BaseModel):
  fixed_acidity: float
  volatile_acidity: float
  citric_acid: float
  residual_sugar: float
  chlorides: float
  free_sulfur_dioxide: float
  total_sulfur_dioxide: float
  density: float
  pH: float #= Field(ge=6, le=8, description="wine with hgh pH level")
  sulphates: float
  alcohol: float
  TARGET: int

In [ ]:
dict_to_val = df_json.to_dict(orient="records")

In [ ]:
dict_to_val

In [ ]:
for i in dict_to_val:
  print(i)

In [ ]:
error_count = 0
verified_data = []
for i in dict_to_val:
  try:    
    verified_data.append(DataValidation(**i))
  except ValidationError as ve:
    print(f"row: {i}, error: {ve}")
    error_count += 1

In [ ]:
error_count

0

In [ ]:
verified_data[0].__dir__()

In [ ]:
df_json_clean = pd.DataFrame([s.__dict__ for s in verified_data])

In [ ]:
df_json_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         99 non-null     float64
 1   volatile_acidity      99 non-null     float64
 2   citric_acid           99 non-null     float64
 3   residual_sugar        99 non-null     float64
 4   chlorides             99 non-null     float64
 5   free_sulfur_dioxide   99 non-null     float64
 6   total_sulfur_dioxide  99 non-null     float64
 7   density               99 non-null     float64
 8   pH                    99 non-null     float64
 9   sulphates             99 non-null     float64
 10  alcohol               99 non-null     float64
 11  TARGET                99 non-null     int64
dtypes: float64(11), int64(1)
memory usage: 9.4 KB

```Load``` the data to have a final data

In [ ]:
df_clean = pd.concat([df_json_clean, df_csv], ignore_index = True)

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         1599 non-null   float64
 1   volatile_acidity      1599 non-null   float64
 2   citric_acid           1599 non-null   float64
 3   residual_sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free_sulfur_dioxide   1599 non-null   float64
 6   total_sulfur_dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  TARGET                1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

![ETL](https://drive.google.com/uc?id=19vKLoFRkSCkH7yfG4KZBs71L8jyQK0y2)